.contact {
  border-bottom: 10px solid $red-primary;
}

.contact-icon {
  float: left;
  width: 20%;
  text-align: center;
}

.contact-icon i {
  color: $white;
  font-size: 50px;
  margin-bottom: 20px;
  transition: all 0.25s;
}

.contact-icon h6 {
  color: $grey-secondary;
  font-size: 12px;
  transition: all 0.25s;
}

.contact-icon:hover h6,
.contact-icon:hover i {
  color: $red-primary;
}