.contact {
  text-align: center;
  background: $red-primary;

  a {
    color: $white;
  }
}

.contact-icon {
  text-align: center;
  display: inline-block;
  padding: 10px 5px;
}

.contact-icon i {
  animation: fade-in-out 0.5s infinite alternate;
  font-size: 14px;
  margin-bottom: 5px;
  transition: all 0.25s;
  display: inline-block;
  // margin-right: 5px;
}

.contact-icon h6 {
  font-size: 12px;
  display: inline-block;
  transition: all 0.5s;
}

.contact-icon:hover h6,
.contact-icon:hover i {
  color: $grey-primary;
}