@keyframes glow-red-text {
  from { text-shadow: 0 0 10px $red-primary; }
  to { text-shadow: 0 0 20px $red-primary; }
}

.jumbo-content {
  padding-top: 10vh;
  padding-bottom: 50px;
  background: url("../images/me_big.png") no-repeat;
  background-size: 400px;
  background-position: 100% bottom;
  transition: background-size 0.5s;
}

.jumbo-content-prename {
  font-size: 16px;
  color: $grey-secondary;
  font-weight: 400;
  transition: font-size 0.5s;
}

.jumbo-content-name {
  font-size: 200px;
  font-weight: 700;
  color: $grey-primary;
  transition: font-size 0.5s;
  line-height: 1;
  margin-left: -15px;
}

.jumbo-content-aftername {
  font-size: 16px;
  color: $grey-secondary;
  font-weight: 400;
  transition: font-size 0.5s;
  margin-bottom: 50px;

  span {
    color: $red-primary;
    font-weight: 700;
    animation: 0.5s glow-red-text infinite alternate;
  }
}

@media all and (max-width: 800px) {
  .jumbo-content {
    background-size: 350px;
  }

  .jumbo-content-name {
    font-size: 150px;
    margin-left: -10px;
  }

  .jumbo-content-prename,
  .jumbo-content-aftername {
    font-size: 14px;
  }
}

@media all and (max-width: 600px) {
  .jumbo-content {
    background-size: 300px;
  }
  
  .jumbo-content-name {
    font-size: 100px;
    margin-left: -7px;
  }

  .jumbo-content-prename {
    top: 15px;
    left: 6px;
  }

  .jumbo-content-aftername {
    bottom: 15px;
    right: 0;
  }
}

@media all and (max-width: 500px) {
  .jumbo-content {
    background: none;
    text-align: center;
    padding-bottom: 0;
  }

  .jumbo-content-prename {
    margin-bottom: -10px;
  }

  .jumbo-content-name {
    font-size: 125px;
  }
}
