.jumbo {
  height: 100vh;
  background: url("../../images/jumbo.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.jumbo-content {
  text-align: center;
  padding-top: 200px;
}

.jumbo-content-prename {
  position:absolute;
  top: 25px;
  left: 8px;
  font-size: 28px;
  color: $grey-secondary;
  font-weight: 400;
}

.jumbo-content-name {
  position: relative;
  font-size: 200px;
  font-weight: 700;
  color: $white;
  display: inline-block;
  margin-bottom: 50px;
}

.jumbo-content-aftername {
  position:absolute;
  bottom: 25px;
  right: 8px;
  font-size: 28px;
  color: $grey-secondary;
  font-weight: 400;

  span {
    color: $red-primary;
    font-weight: 700;
  }
}