@keyframes glow-red-text {
  from { text-shadow: 0 0 10px $red-primary; }
  to { text-shadow: 0 0 20px $red-primary; }
}

.jumbo {
  background: url("../images/jumbo.jpg") no-repeat;
  background-size: 600px;
  background-position: 100% 40px;
}

.jumbo-content {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 50px;
}

.jumbo-content-prename {
  position:absolute;
  top: 50px;
  left: 15px;
  font-size: 16px;
  color: $grey-secondary;
  font-weight: 400;
  transition: font-size 0.5s;
}

.jumbo-content-name {
  position: relative;
  font-size: 200px;
  font-weight: 700;
  color: $grey-primary;
  display: inline-block;
  margin-bottom: 50px;
  transition: font-size 0.5s;
}

.jumbo-content-aftername {
  position:absolute;
  bottom: 50px;
  right: 8px;
  font-size: 16px;
  color: $grey-secondary;
  font-weight: 400;
  transition: font-size 0.5s;

  span {
    color: $red-primary;
    font-weight: 700;
    animation: 0.5s glow-red-text infinite alternate;
  }
}

@media all and (max-width: 800px) {
  .jumbo {
    background-size: 400px;
    background-position: 100% 40px;
  }
  
  .jumbo-content-name {
    font-size: 150px;
  }

  .jumbo-content-prename,
  .jumbo-content-aftername {
    font-size: 14px;
  }

  .jumbo-content-prename {
    top: 40px;
    left: 10px;
  }

  .jumbo-content-aftername {
    bottom: 40px;
  }
}

@media all and (max-width: 1000px) {
  .jumbo {
    background-size: 500px;
    background-position: 100% 40px;
  }
}

@media all and (max-width: 600px) {
  .jumbo {
    background-size: 300px;
    background-position: 100% 40px;
  }
  
  .jumbo-content-name {
    font-size: 100px;
  }

  .jumbo-content-prename {
    top: 15px;
    left: 6px;
  }

  .jumbo-content-aftername {
    bottom: 15px;
    right: 0;
  }
}