nav li {
  display: inline-block;
}

.nav-container {
  text-align: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  background: $white;
  transition: box-shadow 1s;
}

.nav-container.scroll {
  box-shadow: 0 0 10px #ccc;
}

nav a {
  color: $grey-primary;
  display: inline-block;
  padding: 10px;
  font-size: 10px;
  font-weight: 700;
  transition: 0.5s all;
  border-bottom: 1px solid $white;

  &:hover,
  &.active {
    color: $red-primary;
    border-bottom: 1px solid $red-primary;
  }
}

.nav-left,
.nav-right {
  color: $grey-secondary;
  font-weight: 700;
  font-size: 10px;
  padding: 10px;

  a {
    border-bottom: 1px solid $red-primary;
    background: red;
  }
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.nav-center {
  color: $white;
  font-weight: 700;
  display: inline-block;
  background: $black;
  padding: 5px 10px;
  font-size: 12px;
}

@media all and (max-width: 700px) {
  .nav-left,
  .nav-right {
    float: none;
    display: none;
    padding: 0;
  }
}
