.projects {
  padding-bottom: 0;
}

.project {
  margin-bottom: 100px;
}

.project-image {
  float: left;
  width: 50%;
  margin-right: 50px;
  border-radius: 5px;
}

.project-description {
  margin-bottom: 25px;
}

.project-image.in-progress {
  width: 50%;
  height: 240px;
  background: #ccc;
  text-align: center;
  padding-top: 90px;
  font-size: 32px;
  color: #fff;
}

.card.project {
  margin-bottom: 50px;
}

.project-codebase {
  color: $grey-secondary;
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  transition: color 0.5s;

  &:hover {
    color: $red-primary;
  }
}

.project-technologies {
  margin-bottom: 20px;
}

.project-technology {
  display: inline-block;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid $red-primary;
  color: $red-primary;
}

@media all and (max-width: 800px) {
  .project-image,
  .project-image.in-progress {
    float: none;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .project-description {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .project-image.in-progress {
    height: 120px;
    font-size: 16px;
    padding-top: 50px;
  }

  .project {
    text-align: center;
  }
}