.projects {
  padding-bottom: 0;
}

.card.project {
  margin-bottom: 50px;
}

.project-codebase {
  display: block;
  color: $grey-secondary;
  margin-top: 20px;
  font-size: 12px;
  transition: color 0.5s;

  &:hover {
    color: $red-primary;
  }
}

.project-technologies {
  margin-bottom: 20px;
}

.project-technology {
  display: inline-block;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid $red-primary;
  color: $red-primary;
}