.skills {
  padding-bottom: 0;
}

.skill {
  margin-bottom: 100px;
  text-align: center;
  font-size: 12px;
}

.skill-title {
  color: $white;
  font-weight: 700;
}

.skill-icon {
  width: 50px;
  display: inline-block;
  margin-bottom: 10px;
}