@keyframes fade-in-out {
  0% { 
    transform: none;
  }
  100% {
    transform: scale(1.1)
  }
}

.skills {
  padding-bottom: 0;
}

.skill {
  margin-bottom: 50px;
  text-align: center;
  font-size: 12px;
}

.skill-title {
  color: $white;
  font-weight: 700;
}

.skill-icon {
  width: 50px;
  display: inline-block;
  margin-bottom: 10px;
  animation: fade-in-out 0.5s infinite alternate;
}