@keyframes glow-red {
  from { box-shadow: 0 0 10px 0 $red-primary; }
  to { box-shadow: 0 0 10px 3px $red-primary; }
}

@keyframes glow-grey {
  from { box-shadow: 0 0 10px 0 $grey-primary; }
  to { box-shadow: 0 0 10px 3px $grey-secondary; }
}

.button {
  background: $red-primary;
  padding: 10px 20px;
  border-radius: 3px;
  border: 0;
  color: $white;
  font-weight: 700;
  box-shadow: 0 0 10px 0 $red-primary;
  transition: all 0.5s;
  cursor: pointer;
  animation: 1s glow-red infinite alternate;
  font-size: 12px;
}

.button:hover {
  background: #c0392b;
}

.button-grey {
  animation: 1s glow-grey infinite alternate;
  background: $grey-secondary;

  &:hover {
    background: #555;
  }
}