@keyframes glow-red {
  from { box-shadow: 0 0 10px 0 $red-primary; }
  to { box-shadow: 0 0 10px 3px $red-primary; }
}

.button {
  background: $red-primary;
  padding: 10px 20px;
  border-radius: 3px;
  border: 0;
  color: $white;
  font-weight: 700;
  box-shadow: 0 0 10px 0 $red-primary;
  transition: background 0.5s;
  cursor: pointer;
  animation: 0.5s glow-red infinite alternate;
  font-size: 12px;
}

.button:hover {
  background: #c0392b;
}