.card {
  text-align: center;
}

.card-header {
  position: relative;
}

.card-content {
  padding: 20px;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
  border-radius: 3px;
}

.card-title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 22px;
  color: $white;
}

.card-body {
  color: $grey-secondary; 
  font-size: 14px;
}