@keyframes pointdown {
  from { }
  to { transform: translateY(10px)}
}

.about {
  padding-top: 100px;
}

// section padding
.skills,
.projects,
.contact {
  padding: 100px 0;
}

.grey {
  background: $grey-primary;
}

.black {
  background: $black;
}

.section-header {
  margin-bottom: 100px;
  text-align: center;
}

.section-title {
  font-weight: 700;
  color: $white;
  font-size: 32px;
}

.section-subtitle {
  color: $grey-secondary;
  font-size: 14px;
  margin-top: -10px;
  text-transform: uppercase;
}

.section-learnmore {
  text-align: center;
  color: $white;
  display: block;
  font-size: 10px;
  padding-bottom: 70px;
  padding-top: 50px;
  transition: color 0.5s;

  i {
    padding-top: 20px;
    display: block;
    font-size: 14px;
    animation: pointdown 0.5s infinite alternate;
  }

  &:hover {
    color: $red-primary;
  }
}