@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-family: sans-serif;
  line-height: 1.6;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}