/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px; }

.grid::after,
.clear::after {
  content: '';
  display: table;
  clear: both; }

.grid-1-3,
.grid-1-8 {
  transition: width 0.5s; }

.grid-1-3 {
  float: left;
  width: 32.6666%; }

.grid-1-3:nth-of-type(3n+2) {
  margin: 0 1%; }

.grid-1-8 {
  float: left;
  width: 12.5%; }

@media all and (max-width: 800px) {
  .grid-1-8 {
    width: 25%; }

  .grid-1-3:nth-of-type(3n+2) {
    margin: 0; }

  .grid-1-3 {
    width: 49%; }

  .grid-1-3:nth-of-type(2n+2) {
    margin-left: 2%; } }
@media all and (max-width: 500px) {
  .grid-1-3:nth-of-type(2n+2) {
    margin: 0; }

  .grid-1-3 {
    width: 100%; } }
body {
  font-family: sans-serif;
  line-height: 1.6; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

@keyframes pointdown {
  to {
    transform: translateY(10px); } }
.about,
.skills,
.projects {
  padding-top: 100px; }

.contact {
  padding: 100px 0; }

.grey {
  background: #fafbfd; }

.section-header {
  margin-bottom: 100px;
  text-align: center; }

.section-title {
  font-weight: 700;
  color: #3d3d44;
  font-size: 32px; }

.section-subtitle {
  color: #aaa;
  font-size: 14px;
  margin-top: -10px; }

.section-learnmore {
  text-align: center;
  color: #aaa;
  display: block;
  font-size: 10px;
  padding-bottom: 70px;
  padding-top: 50px;
  transition: color 0.5s; }
  .section-learnmore i {
    padding-top: 20px;
    display: block;
    font-size: 14px;
    animation: pointdown 0.5s infinite alternate; }
  .section-learnmore:hover {
    color: #e03c31; }

@keyframes glow-red {
  from {
    box-shadow: 0 0 10px 0 #e03c31; }
  to {
    box-shadow: 0 0 10px 3px #e03c31; } }
.button {
  background: #e03c31;
  padding: 10px 20px;
  border-radius: 3px;
  border: 0;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 10px 0 #e03c31;
  transition: background 0.5s;
  cursor: pointer;
  animation: 0.5s glow-red infinite alternate;
  font-size: 12px; }

.button:hover {
  background: #c0392b; }

.card {
  text-align: center; }

.card-header {
  position: relative; }

.card-content {
  padding: 20px;
  margin-bottom: 20px; }

.card-image {
  width: 100%;
  border-radius: 3px; }

.card-title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 22px;
  color: #3d3d44; }

.card-body {
  color: #aaa;
  font-size: 14px; }

nav li {
  display: inline-block; }

.nav-container {
  text-align: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  background: rgba(255, 255, 255, 0.5); }

nav a {
  color: #3d3d44;
  display: inline-block;
  padding: 10px;
  font-size: 10px;
  font-weight: 700;
  transition: 0.25s background; }
  nav a:hover {
    color: #e03c31;
    border-bottom: 1px solid #e03c31; }

.nav-left,
.nav-right {
  color: #aaa;
  font-weight: 700;
  font-size: 10px;
  padding: 10px; }
  .nav-left a,
  .nav-right a {
    border-bottom: 1px solid #e03c31;
    background: red; }

.nav-left {
  float: left; }

.nav-right {
  float: right; }

.nav-center {
  color: #fff;
  font-weight: 700;
  display: inline-block;
  background: #fff;
  padding: 5px 10px;
  font-size: 12px; }

@media all and (max-width: 700px) {
  .nav-left,
  .nav-right {
    float: none;
    display: none;
    padding: 0; } }
@keyframes glow-red-text {
  from {
    text-shadow: 0 0 10px #e03c31; }
  to {
    text-shadow: 0 0 20px #e03c31; } }
.jumbo {
  background: url("../images/jumbo3.png");
  background-repeat: repeat; }

.jumbo-content {
  text-align: center;
  padding-top: 15vh; }

.jumbo-content-prename {
  position: absolute;
  top: 50px;
  left: 15px;
  font-size: 16px;
  color: #aaa;
  font-weight: 400;
  transition: font-size 0.5s; }

.jumbo-content-name {
  position: relative;
  font-size: 200px;
  font-weight: 700;
  color: #3d3d44;
  display: inline-block;
  margin-bottom: 50px;
  transition: font-size 0.5s; }

.jumbo-content-aftername {
  position: absolute;
  bottom: 50px;
  right: 8px;
  font-size: 16px;
  color: #aaa;
  font-weight: 400;
  transition: font-size 0.5s; }
  .jumbo-content-aftername span {
    color: #e03c31;
    font-weight: 700;
    animation: 0.5s glow-red-text infinite alternate; }

@media all and (max-width: 800px) {
  .jumbo-content-name {
    font-size: 150px; }

  .jumbo-content-prename,
  .jumbo-content-aftername {
    font-size: 14px; }

  .jumbo-content-prename {
    top: 40px;
    left: 10px; }

  .jumbo-content-aftername {
    bottom: 40px; } }
@media all and (max-width: 600px) {
  .jumbo-content-name {
    font-size: 100px; }

  .jumbo-content-prename {
    top: 15px; }

  .jumbo-content-aftername {
    bottom: 15px;
    right: 0; } }
.about {
  text-align: center; }

.about-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px; }

.about-title {
  color: #3d3d44;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px; }

.about-description {
  color: #aaa;
  max-width: 400px;
  margin: 0 auto; }

@keyframes fade-in-out {
  0% {
    transform: none; }
  100% {
    transform: scale(1.1); } }
.skills {
  padding-bottom: 0; }

.skill {
  margin-bottom: 50px;
  text-align: center;
  font-size: 12px; }

.skill-title {
  color: #3d3d44;
  font-weight: 700; }

.skill-icon {
  width: 50px;
  display: inline-block;
  margin-bottom: 10px;
  animation: fade-in-out 0.5s infinite alternate; }

.contact {
  border-bottom: 10px solid #e03c31; }

.contact-icon {
  float: left;
  width: 20%;
  text-align: center; }

.contact-icon i {
  animation: fade-in-out 0.5s infinite alternate;
  color: #3d3d44;
  font-size: 50px;
  margin-bottom: 20px;
  transition: all 0.25s; }

.contact-icon h6 {
  color: #aaa;
  font-size: 12px;
  transition: all 0.25s; }

.contact-icon:hover h6,
.contact-icon:hover i {
  color: #e03c31; }

@media all and (max-width: 600px) {
  .contact i {
    font-size: 36px; } }
.projects {
  padding-bottom: 0; }

.card.project {
  margin-bottom: 50px; }

.project-codebase {
  display: block;
  color: #aaa;
  margin-top: 20px;
  font-size: 12px;
  transition: color 0.5s; }
  .project-codebase:hover {
    color: #e03c31; }

.project-technologies {
  margin-bottom: 20px; }

.project-technology {
  display: inline-block;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid #e03c31;
  color: #e03c31; }
